{% extends 'layout.html' %}
{% block content %}
    <style>
        img.foto-profil {
            max-height: 200px;
        }
    </style>

		<!-- about -->
		<div class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="titlepage text_align_center">
							<h2>About Us</h2>
						</div>
					</div>
                </div>
                <div class="row">
					<div class="col-md-12 text-center mb-5">
                       
                        <h2>Andreas Budi Hartono</h2>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 text-center mb-5">
                        
                        <h2>Michael Alexander</h2>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 text-center">
                        
                        <h2>Charlenedita Riyanne. T</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->
{% endblock %}
