{% extends 'layout.html' %}
{% block content %}
    <style>
        img.foto-profil {
            max-height: 200px;
        }
    </style>

		<!-- about -->
		<div class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="titlepage text_align_center">
							<h2>About Us</h2>
						</div>
					</div>
                </div>
                <div class="row">
					<div class="col-md-12 text-center mb-5">
                        <img class="foto-profil rounded mx-auto d-block" src="static/images/andre.jpg" alt="">
                        <h2>Andreas Budi Hartono (31200041)</h2>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 text-center mb-5">
                        <img class="foto-profil rounded mx-auto d-block" src="static/images/michael.jpg" alt="">
                        <h2>Michael Alexander (32200061)</h2>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 text-center">
                        <img class="foto-profil rounded mx-auto d-block" src="static/images/charlen.jpg" alt="">
                        <h2>Charlenedita Riyanne. T (32200086)</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->
{% endblock %}
