{% extends 'layout.html' %}
{% block content %}

        
		<!-- card -->
		<div class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="titlepage text_align_center">
							<h2>Sewa Produk</h2>
						</div>
					</div>
                </div>
                <div class="row">
                    {% for row in data %}
					<div class="col-lg-4 col-md-6 mb-5 d-flex justify-content-center">
                        <div class="card text-center " style="width: 20rem;">
                            <img src="{{url_for('static', filename='images/produk/' + row[4])}}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column">
                                <div class="mt-auto">
                                    <h2 class="card-title">{{row[1]}}</h2>
                                    <p class="card-text d-block mb-3">{{row[2]}}</p>
                                    <p class="card-text d-block mb-3">Sewa per bulan: <br /><b class="uang" class="d-block text-center">{{row[3]}}</b></p>
                                    <a href="/detail_sewa/{{row[0]}}" class="btn btn-success btn-block stretched-link">Sewa</a>
                                </div>
                            </div>
                        </div>
					</div>
                    {% endfor %}

				</div>
			</div>
		</div>
		<!-- end card -->

{% endblock %}
