{% extends 'layout.html'%}
{% block content %}
  <!-- about section -->
  {% for message, category in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {% endfor %}
    
            <h1 class="display-4"> Data User </h1>
              <table class="table table-bordered">
               <thead>
                <tr class="table-primary">
                   <th class="text-center">ID</th>   
                   <th class="text-center">Nama</th>         
                   <th class="text-center">Email</th>
                   <th class="text-center">Password</th>         
                   <th class="text-center">Tgl_lahir</th>
                   <th class="text-center">Alamat</th>
                   <th class="text-center">Gender</th>    
                   <th class="text-center">Hobi</th>    
                   <th class="text-center">Role</th>       
                </tr>
               </thead>
               <tbody>
                {% if data|length == 0 %}
                  <b>No Entry Has Been Added</b> <br/>
                {% else %}
                  {% for row in data %}
                <tr>
                   <td class="text-center" ><b>{{row[0]}}</b></td>   
                   <td class="text-center" ><b>{{row[1]}}</b></a></td>   
                   <td class="text-center" ><b>{{row[2]}}</b></td>
                   <td class="text-center" ><b>{{row[3]}}</b></td>   
                   <td class="text-center" ><b>{{row[4]}}</b></td>
                   <td class="text-center" ><b>{{row[5]}}</b></td>
                   <td class="text-center" ><b>{{row[6]}}</b></td>
                   <td class="text-center" ><b>{{row[7]}}</b></td>
                   <td class="text-center" ><b>{{row[8]}}</b></td>

                   <td class="text-center">
                      <a href='/edit/{{row[0]}}'><b>Edit </b></a> |
                      <a href='/hapus_user/{{row[0]}}'><b>Hapus</b></a>
                   </td>
                </tr>
                {% endfor %}
                {% endif %}

           
               </tbody>
              </table>
  </section>

  <!-- end about section -->


{% endblock %}
